# macOS specific
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*
.Spotlight-V100
.Trashes
*.swp
*.lock
*.bak
*.tmp
*.dmp
.fseventsd
build/
.vscode/
site/
tools/sitegen/node_modules/
Demonstrations+HelloWorlds/CircuitPython/__pycache__/mtm_computer.cpython-310.pyc
